@import '@/utils/media-query';

.testimonials {
  padding: 4rem 0;

  @include responsive(tablet) {
    padding: 5rem 0;
  }

  @include responsive(desktop) {
    padding: 10rem 0;
  }
}

.title {
  font-size: clamp(1rem, 0.912rem + 0.3756vw, 1.25rem);
  text-align: center;
  color: var(--text-light);
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-bottom: 4rem;

  @include responsive(desktop) {
    margin-bottom: 5rem;
    letter-spacing: 5px;
  }
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 1.5rem;
  width: 100%;
}

.grid {
  display: grid;
  gap: 4rem;

  @include responsive(desktop) {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}

.testimony {
  text-align: center;

  img {
    margin: auto;
    border-radius: 50%;
  }

  & > p {
    margin: 2rem 0;
    color: #5b636d;
    font-size: 1.125rem;
    letter-spacing: -0.129px;

    @include responsive(tablet) {
      max-width: 350px;
      margin: 2rem auto;
    }

    @include responsive(desktop) {
      margin: 3.5rem auto 4.25rem;
    }
  }

  .author {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    strong {
      color: var(--text-heading);
      font-family: var(--font-heading);
      font-size: 1.125rem;
      font-weight: 900;
      line-height: normal;
      letter-spacing: -0.129px;
    }

    span {
      color: var(--text-light);
      font-size: 0.875rem;
      letter-spacing: -0.1px;
    }
  }
}
